name: Test Renovate

on:
  pull_request:
    paths:
      - default.json
      - renovate.json
      - .github/workflows/test-renovate.yml
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
      - run: npx --package renovate -c 'renovate-config-validator'
